<div class="recipie-card">
    <div class="card" style="width: 20rem;">
        <img src="@imageUrl" alt="Recipe Image" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">@recipeName</h5>
            <p class="card-text">@recipeDescription</p>

        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? imageUrl { get; set; }
    [Parameter]
    public string? recipeName { get; set; }
    [Parameter]
    public string? recipeDescription { get; set; }

}
