@page "/meal-plan"

@using System.ComponentModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject AuthenticationStateProvider _authenticationStateProvider
@inject WeekPlanService weekPlanService
@inject RecipeService recipeService
@inject NavigationManager NavigationManager


@attribute [Authorize]


<PageTitle>Meal Plan</PageTitle>


<h1>Meal Plan</h1>

<div>

    <div class="card">
        <h3 class="card-header">Monday</h3>
        <div class="d-flex flex-wrap bg-light text-dark">
            @foreach (var recipe in Monday)
            {
                <div style="position:relative">
                    <RecipeCard imageUrl=@recipe.Image recipeName=@recipe.Title recipeDescription=@recipe.Description
                    recipeId=@recipe.RecipeId>
                    </RecipeCard>
                    <span @onclick='() => removeRecipe("Monday", recipe)' class="bd-highlight"
                    style="position:absolute;z-index:1;top:10px;right:10px;cursor:pointer;"><img
                        src="/images/minus.png">
                    </span>
                </div>
            }
        </div>
    </div>

    <div class="card">
        <h3 class="card-header">Tuesday</h3>
        <div class="d-flex flex-wrap bg-light text-dark">
            @foreach (var recipe in Tuesday)
            {
                <div style="position:relative">
                    <RecipeCard imageUrl=@recipe.Image recipeName=@recipe.Title recipeDescription=@recipe.Description
                    recipeId=@recipe.RecipeId>
                    </RecipeCard>
                    <span @onclick='() => removeRecipe("Tuesday", recipe)' class="bd-highlight"
                    style="position:absolute;z-index:1;top:10px;right:10px;cursor:pointer;"><img
                        src="/images/minus.png">
                    </span>
                </div>
            }
        </div>
    </div>

    <div class="card">
        <h3 class="card-header">Wednesday</h3>
        <div class="d-flex flex-wrap bg-light text-dark">
            @foreach (var recipe in Wednesday)
            {
                <div style="position:relative">
                    <RecipeCard imageUrl=@recipe.Image recipeName=@recipe.Title recipeDescription=@recipe.Description
                    recipeId=@recipe.RecipeId>
                    </RecipeCard>
                    <span @onclick='() => removeRecipe("Wednesday", recipe)' class="bd-highlight"
                    style="position:absolute;z-index:1;top:10px;right:10px;cursor:pointer;"><img
                        src="/images/minus.png">
                    </span>
                </div>
            }
        </div>
    </div>

    <div class="card">
        <h3 class="card-header">Thursday</h3>
        <div class="d-flex flex-wrap bg-light text-dark">
            @foreach (var recipe in Thursday)
            {
                <div style="position:relative">
                    <RecipeCard imageUrl=@recipe.Image recipeName=@recipe.Title recipeDescription=@recipe.Description
                    recipeId=@recipe.RecipeId>
                    </RecipeCard>
                    <span @onclick='() => removeRecipe("Thursday", recipe)' class="bd-highlight"
                    style="position:absolute;z-index:1;top:10px;right:10px;cursor:pointer;"><img
                        src="/images/minus.png">
                    </span>
                </div>
            }
        </div>
    </div>

    <div class="card">
        <h3 class="card-header">Friday</h3>
        <div class="d-flex flex-wrap bg-light text-dark">
            @foreach (var recipe in Friday)
            {
                <div style="position:relative">
                    <RecipeCard imageUrl=@recipe.Image recipeName=@recipe.Title recipeDescription=@recipe.Description
                    recipeId=@recipe.RecipeId>
                    </RecipeCard>
                    <span @onclick='() => removeRecipe("Friday", recipe)' class="bd-highlight"
                    style="position:absolute;z-index:1;top:10px;right:10px;cursor:pointer;"><img
                        src="/images/minus.png">
                    </span>
                </div>
            }
        </div>
    </div>

    <div class="card">
        <h3 class="card-header">Saturday</h3>
        <div class="d-flex flex-wrap bg-light text-dark">
            @foreach (var recipe in Saturday)
            {
                <div style="position:relative">
                    <RecipeCard imageUrl=@recipe.Image recipeName=@recipe.Title recipeDescription=@recipe.Description
                    recipeId=@recipe.RecipeId>
                    </RecipeCard>
                    <span @onclick='() => removeRecipe("Saturday", recipe)' class="bd-highlight"
                    style="position:absolute;z-index:1;top:10px;right:10px;cursor:pointer;"><img
                        src="/images/minus.png">
                    </span>
                </div>
            }
        </div>
    </div>

    <div class="card">
        <h3 class="card-header">Sunday</h3>
        <div class="d-flex flex-wrap bg-light text-dark">
            @foreach (var recipe in Sunday)
            {
                <div style="position:relative">
                    <RecipeCard imageUrl=@recipe.Image recipeName=@recipe.Title recipeDescription=@recipe.Description
                    recipeId=@recipe.RecipeId>
                    </RecipeCard>
                    <span @onclick='() => removeRecipe("Sunday", recipe)' class="bd-highlight"
                    style="position:absolute;z-index:1;top:10px;right:10px;cursor:pointer;"><img
                        src="/images/minus.png">
                    </span>
                </div>
            }
        </div>
    </div>


</div>

@code {

    List<Recipe>? allRecipes;
    Recipe? recipe;
    List<WeekPlan>? weekplans;

    List<Recipe>? Monday;
    List<Recipe>? Tuesday;
    List<Recipe>? Wednesday;
    List<Recipe>? Thursday;
    List<Recipe>? Friday;
    List<Recipe>? Saturday;
    List<Recipe>? Sunday;

    string userId;

    List<String> Days = new List<string> { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" };






    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    protected async Task removeRecipe(string dayName, Recipe recipe)
    {
        await weekPlanService.RemoveRecipFromExistingDayPlan(userId, dayName, recipe);
        NavigationManager.NavigateTo("meal-plan", true);
    }
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;
        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("Identity/Account/login", true);
        }

        await getUserId();
        await load();
    }

    protected async Task load()
    {
        allRecipes = await recipeService.GetRecipesAsync(userId);
        GetRecipesByDay();
        //
    }

    async Task<string> getUserId()
    {
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        userId = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;
        return userId;
    }
    protected async Task GetRecipesByDay()
    {
        userId = await getUserId();
        Monday = await weekPlanService.GetRecipesByDay(userId, "Monday");
        Tuesday = await weekPlanService.GetRecipesByDay(userId, "Tuesday");
        Wednesday = await weekPlanService.GetRecipesByDay(userId, "Wednesday");
        Thursday = await weekPlanService.GetRecipesByDay(userId, "Thursday");
        Friday = await weekPlanService.GetRecipesByDay(userId, "Friday");
        Saturday = await weekPlanService.GetRecipesByDay(userId, "Saturday");
        Sunday = await weekPlanService.GetRecipesByDay(userId, "Sunday");

    }
}
