@page "/meal-plan"
@using Microsoft.AspNetCore.Mvc
@using RecipeApp.Components
@using RecipeApp.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject AuthenticationStateProvider _authenticationStateProvider
@inject WeekPlanService weekPlanService

<PageTitle>Meal Plan</PageTitle>


<h1>Meal Plan</h1>
<form>
    <select class="custom-select" name="" id="">
        @foreach (var item in weekplans)
        {
            <option value="@item.Id">@item.Id</option>
        }

    </select>
    <select class="custom-select" name="" id="">
        <option value="sunday">Sunday</option>
        <option value="monday">Monday</option>
        <option value="tuesday">Tuesday</option>
        <option value="wednesday">Wednesday</option>
        <option value="thursday">Thursday</option>
        <option value="friday">Friday</option>
        <option value="saturday">Saturday</option>
    </select>
    <button type="submit" class="btn btn-primary">+Add to Meal Plan</button>
</form>
<div>
    <h3>Day of week</h3>
    <div class=recipe-card-container>
    </div>
</div>

@code {

    List<Recipe>? recipes;
    List<WeekPlan>? weekplans;

    protected override async Task OnInitializedAsync()
    {
        await load();
    }

    protected async Task load()
    {
        weekplans = await weekPlanService.GetWeekPlansAsync("string");
    }

}
