@page "/meal-plan"

@using System.ComponentModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject AuthenticationStateProvider _authenticationStateProvider
@inject WeekPlanService weekPlanService
@inject RecipeService recipeService
@inject NavigationManager NavigationManager


@attribute [Authorize]


<PageTitle>Meal Plan</PageTitle>


<h1>Meal Plan</h1>

<div>
    <h3>Monday</h3>
    <div class="d-flex flex-wrap bg-light text-dark">
        @foreach (var recipe in Monday)
        {
            <RecipeCard imageUrl=@recipe.Image recipeName=@recipe.Title recipeDescription=@recipe.Description
            recipeId=@recipe.RecipeId>
            </RecipeCard>
        }
    </div>

    <h3>Tuesday</h3>
    <div class="d-flex flex-wrap bg-light text-dark">
        @foreach (var recipe in Tuesday)
        {
            <RecipeCard imageUrl=@recipe.Image recipeName=@recipe.Title recipeDescription=@recipe.Description
            recipeId=@recipe.RecipeId>
            </RecipeCard>
        }
    </div>

    <h3>Wednesday</h3>
    <div class="d-flex flex-wrap bg-light text-dark">
        @foreach (var recipe in Wednesday)
        {
            <RecipeCard imageUrl=@recipe.Image recipeName=@recipe.Title recipeDescription=@recipe.Description
            recipeId=@recipe.RecipeId>
            </RecipeCard>
        }
    </div>

    <h3>Thursday</h3>
    <div class="d-flex flex-wrap bg-light text-dark">
        @foreach (var recipe in Thursday)
        {
            <RecipeCard imageUrl=@recipe.Image recipeName=@recipe.Title recipeDescription=@recipe.Description
            recipeId=@recipe.RecipeId>
            </RecipeCard>
        }
    </div>

    <h3>Friday</h3>
    <div class="d-flex flex-wrap bg-light text-dark">
        @foreach (var recipe in Friday)
        {
            <RecipeCard imageUrl=@recipe.Image recipeName=@recipe.Title recipeDescription=@recipe.Description
            recipeId=@recipe.RecipeId>
            </RecipeCard>
        }
    </div>

    <h3>Saturday</h3>
    <div class="d-flex flex-wrap bg-light text-dark">
        @foreach (var recipe in Saturday)
        {
            <RecipeCard imageUrl=@recipe.Image recipeName=@recipe.Title recipeDescription=@recipe.Description
            recipeId=@recipe.RecipeId>
            </RecipeCard>
        }
    </div>

    <h3>Sunday</h3>
    <div class="d-flex flex-wrap bg-light text-dark">
        @foreach (var recipe in Sunday)
        {
            <RecipeCard imageUrl=@recipe.Image recipeName=@recipe.Title recipeDescription=@recipe.Description
            recipeId=@recipe.RecipeId>
            </RecipeCard>
        }
    </div>


</div>

@code {

    List<Recipe>? allRecipes;
    Recipe? recipe;
    List<WeekPlan>? weekplans;

    List<Recipe>? Monday;
    List<Recipe>? Tuesday;
    List<Recipe>? Wednesday;
    List<Recipe>? Thursday;
    List<Recipe>? Friday;
    List<Recipe>? Saturday;
    List<Recipe>? Sunday;
    string userId;



    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;
        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("Identity/Account/login", true);
        }

        await getUserId();
        await load();
    }

    protected async Task load()
    {
        allRecipes = await recipeService.GetRecipesAsync();
        GetRecipesByDay();
        //
    }

    async Task<string> getUserId()
    {
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        userId = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;
        return userId;
    }
    protected async Task GetRecipesByDay()
    {
        userId = await getUserId();
        Monday = await weekPlanService.GetRecipesByDay(userId, "Monday");
        Tuesday = await weekPlanService.GetRecipesByDay(userId, "Tuesday");
        Wednesday = await weekPlanService.GetRecipesByDay(userId, "Wednesday");
        Thursday = await weekPlanService.GetRecipesByDay(userId, "Thursday");
        Friday = await weekPlanService.GetRecipesByDay(userId, "Friday");
        Saturday = await weekPlanService.GetRecipesByDay(userId, "Saturday");
        Sunday = await weekPlanService.GetRecipesByDay(userId, "Sunday");


    }
}
